.left-small{width:20vw;float:left;margin-top:0px;margin-bottom:2vw;margin-left:0vw;margin-right:2vw;}
.right-small{width:20vw;float:right;margin-top:0px;margin-bottom:2vw;margin-left:2vw;margin-right:0vw;}
