{% extends 'base.html' %}

{% block title %}
Search · {{ super() }}
{% endblock title %}

{% block head_description %}
Search results for {{ SITENAME|striptags|e }} blog.
{% endblock head_description %}

{% block meta_tags_in_head %}
{{ super() }}
{% from '_includes/_defaults.html' import FEATURED_IMAGE, SEARCH_URL with context %}

{% if PLUGINS and 'pelican.plugins.search' in PLUGINS %}
	<script src="https://files.stork-search.net/releases/v1.6.0/stork.js"></script>
	<link rel="stylesheet" href="https://files.stork-search.net/releases/v1.6.0/basic.css" />
{% endif %}

<meta property="og:title" content="Search · {{ SITENAME|striptags|e }}"/>
<meta name="twitter:title" content="Search · {{ SITENAME|striptags|e }}">
<meta property="og:url" content="{{ SITEURL }}/{{ SEARCH_URL }}" />
<meta property="og:description" content="Search results for {{ SITENAME|striptags|e }} blog" />
<meta name="twitter:description" content="Search results for {{ SITENAME|striptags|e }} blog">
<meta property="og:site_name" content="{{ SITENAME|striptags|e }}" />
<meta property="og:article:author" content="{{ AUTHOR }}" />
{% if FEATURED_IMAGE %}
<meta property="og:image" content="{{ FEATURED_IMAGE }}" />
<meta name="twitter:image" content="{{ FEATURED_IMAGE }}" >
{% endif %}
{% endblock meta_tags_in_head %}

{% block content %}
    <article itemscope>
        <div class="row-fluid">
            <header class="page-header span10 offset2">
                <h1>
                    <a href="{{ SITEURL }}/{{ SEARCH_URL }}">
                        Search
                        <small class="subtitle">
                            results for {{ SITENAME|striptags|e }} website.
                        </small>
                    </a>
                </h1>
            </header>

            <div class="span8 offset2 article-content">

                {% if PLUGINS and 'pelican.plugins.tipue_search' in PLUGINS %}
                    <div class="row-fluid">
                        <header id="lunr-search-result-heading" class="page-header span10 offset2">
                        </header>
                    </div>

                    <div class="row-fluid">
                        <div class="span8 offset2">
                            <div id="lunr-search-result" >
                            </div>
                        </div>
                    </div>
                {% else %}
                    <!-- this is here to make the core .js code function without updating it (for now) -->
                    <div id="lunr-search-result-heading" class="hidden"></div>
                    <div id="lunr-search-result" class="hidden"></div>
                {% endif %}

                {% if PLUGINS and 'pelican.plugins.search' in PLUGINS %}
                    Search: <input id='site2search' data-stork="site2search" />
                    <p><div data-stork="site2search-output"></div></p>
                {% endif %}

            </div>
        </div>
    </article>
{% endblock content %}

{% block script %}
    {% if PLUGINS and 'pelican.plugins.tipue_search' in PLUGINS %}
        <script src="{{ SITEURL }}/tipuesearch_content.js"></script>
    {% else %}
        <script>
            <!-- this is here to make the core .js code function without updating it (for now) -->
            var tipuesearch = { "pages": [ {"title": "Title", "text": "text", "tags": "tags", "url": "/" } ] };
        </script>
    {% endif %}

    {% if PLUGINS and 'pelican.plugins.search' in PLUGINS %}
        <script>
            stork.register("site2search", "/search-index.st")
        </script>
        <script>
                const urlParams = new URLSearchParams(window.location.search);
                if (urlParams.has('q')) {
                    const q = urlParams.get('q');
                    console.log("search page 'q' parameter = ", q);
                    input = document.getElementById('site2search');
                    input.focus()
                    input.value = q;
                    input.dispatchEvent(new Event('input', { bubbles: true }));
                    // input.dispatchEvent(new Event('change', { bubbles: true }));
                }
        </script>
    {% endif %}

{{ super() }}
{% endblock script %}
